header{
	display: flex;
}
#bar_nav ul{
	display: flex; 
	list-style: none; 
	justify-content: 
	space-around; 
	padding-left: 0px;
}

#bar_nav li {
	margin-left: 10px;
}
#title{
	margin-left: 10px;
}

.dropbtn {
	/*background-color: #4CAF50;*/
	color: black;
	padding: 10px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
	color: black;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
