.icone{
	height: 50px; 
}

.contenant_icone{
	border: 1px black solid;
	border-radius: 10px;
	padding: 5px;
	width: 30px;
}

.conteneur_icone{
	text-align: center;
	display: block;
  	vertical-align: middle;
}